django
djangorestframework
django-cors-headers
numpy
streamlit
requests
python-dotenv
soundfile
openai
peft
psycopg2-binary>=2.9.9
mozilla-django-oidc==4.0.1
requests==2.32.3
python-jose[cryptography]==3.3.0
djangorestframework-simplejwt
torch==2.6.0
torchaudio==2.6.0
transformers==4.46.3
sentence-transformers==3.0.1
chromadb>=0.5.23
s3tokenizer==0.1.7
chatterbox-tts==0.1.2
crewai==0.100.1
